/** + variaveis*/

:root{
    --color-primary:#E63946;
    --color-primary-dark:#c1272d;
    --color-accent: #f4a300;
    --color-dark: #201a17;
    --color-light: #fff7ed;
    --color-gray: #6b7280;
    --radius:14px;
    --font-titulo:'anton', Impact, sans-serif;
    --font-base: 'Inter', Robot, Helvetica, Arial, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-base);
    color: var(--color-dark);
    line-height: 1.6;
}

h1,h2,h3{
    font-family: var(--font-titulo);
    font-weight: 400;
    letter-spacing: 0.5px;
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: nome;
}

img{
    max-width: 100%;
    display: block;
}


.btn-nav{
    background: var(--color-primary);
    color: #fff;
    padding: 10px 22px;
border-radius:8px;
}

.site-header{
    background: var(--color-dark);
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 18px 24px;
}

.logo{
    font-family: var(--font-titulo);
    font-size: 1.4rem;
    color: #fff;
    letter-spacing: 1px;
}

.nav-links{
    display: flex;
    gap: 32px;
}

.nav-links a {
    color: #e8d9cd;
    font-weight: 500;
}

.nav-links a:hover{
    color: #fff;
}

